* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: red;
    padding: 10px 0;
}

.header h1 {
    font-size: 24px;
}

.main {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

#results_table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}